body {
  margin: 0;
  padding: 0;
}

#game-container {
  text-align: center;
}

canvas {
  background-color: #eee;
  border: 1px solid #333;
  width: 100vw;
  height: 100vh;
}

#game-message {
  font-size: 18px;
  margin-top: 10px;
}